params {
  // HGX Genomes reference file paths
  genomes {
    'GENCODE32' {
      fasta                   = "${params.genomes_base}/GENCODE/v32/FASTA/GRCh38.primary_assembly.genome.fa.gz"
      transcript_fasta        = "${params.genomes_base}/GENCODE/v32/FASTA/gencode.v32.transcripts.fixed.fa.gz"
      gtf                     = "${params.genomes_base}/GENCODE/v32/GTF/gencode.v32.primary_assembly.annotation.gtf.gz"
      gtf_ref_flat            = "${params.genomes_base}/GENCODE/v32/GTF/gencode.v32.primary_assembly.annotation.refflat"
      tx2gene                 = "${params.genomes_base}/GENCODE/v32/GTF/tx2gene.gencode32.csv"
      bed12                   = "${params.genomes_base}/GENCODE/v32/BED12/gencode.v32.primary_assembly.annotation.bed"
      // If no kallisto or star index available (first run), define index as "" to create one
      kallisto_index          = "${params.genomes_base}/GENCODE/v32/kallisto_index"
      star_index              = "${params.genomes_base}/GENCODE/v32/STARindex/"
      rRNA_database_manifest  = "${params.genomes_base}/GENCODE/v32/rRNA/rrna-db-defaults.txt"
      blacklist               = "${params.genomes_base}/GENCODE/v32/arriba/blacklist_hg38_GRCh38_2018-11-04.tsv.gz"
      cytoband                = "${params.genomes_base}/GENCODE/v32/arriba/cytobands_hg38_GRCh38_2018-02-23.tsv"
      protDom                 = "${params.genomes_base}/GENCODE/v32/arriba/protein_domains_hg38_GRCh38_2018-03-06.gff3"
      multiqc_config          = "${params.genomes_base}/GENCODE/v32/MultiQC/multiqc_config.yaml"
    }
  }
}
