/*
 * -------------------------------------------------
 *  HistoGeneX Nextflow base config file
 * -------------------------------------------------
 * The hgx config file, appropriate for
 * use on hgx-prd-docker001
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode 
 */


executor {
  name = 'local'
  cpus = 30
  memory = 120.GB
}


process {

  executor = 'local'

  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 5.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel: low_memory {
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }

  withLabel: test {
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withLabel: mid_memory {
    cpus = { check_max (4, 'cpus')}
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel: high_memory {
    cpus = { check_max (10, 'cpus')}
    memory = { check_max( 40.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel: kallisto {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withName: kallisto_quant {
    cpus =  4
    memory = 20.GB 
  }
  withName: CellRangerCount {
    cpus = 8
    memory = 60.GB 
  }
  withName: sortmerna {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
    time = { check_max( 24.h * task.attempt, 'time' ) }
    maxRetries = 2
  }
  withName: markDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }

  withName: 'get_software_versions' {
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    cache = false
  }
  withName: rseqc {
    memory = { check_max(20.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }
  withName: arriba {
    memory = { check_max(16.GB * task.attempt, 'memory' ) }
  }
  withName: 'multiqc' {
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    cache = false
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 60.GB
  max_cpus = 30
  max_time = 240.h
  
}
